<!doctype html>
<html>

<head>
	<title>{{title}}</title>

	

	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<script src="downloads/jquery-3.0.0.min.js"></script>
</head>

<body>

	<div class="head">


  </div>

	{{{body}}}

		<footer class="navbar-default navbar-bottom">
			<div class="container">
				<br>
				<p class="text-muted text-center">Educational usage only.</p>
				<p class="text-center">
					Copyright 2016
				</p>
			</div>
		</footer>
	</div>




</body>
<script src="./jquery/jquery.js">
  </script>
</html>
