<!doctype html>
<html>

<head>
	<title>{{title}}</title>



	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<script src="downloads/jquery-3.0.0.min.js"></script>
</head>

<body>


	{{{body}}}
  <div id="ajaxContent">
  <form method="GET">
    <input type="text" placeholder="Name of album">
    <input id="albumButton" type="submit">
  </form>
  </div>
  <div id="topCharts">
  </div>

		<footer class="navbar-default navbar-bottom">
			<div class="container">
				<br>
				<p class="text-muted text-center">Educational usage only.</p>
				<p class="text-center">
					Copyright 2016
				</p>
			</div>
		</footer>
	</div>




</body>
<script src="./jquery/jquery.js">
  </script>
</html>
