<!doctype html>
<html>

<head>
	<title>{{title}}</title>



	<link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
	<script src="downloads/jquery-3.0.0.min.js"></script>
</head>

<body>


	{{{body}}}
  <div id="albumSearchDiv">
		<form method="GET">
	    <input type="text" name="formBox" placeholder="Name of album">
	    <input id="albumButton" type="submit">
	  </form>

  </div>

  <div id="topCharts">
		<button id="topFive">Top Five!</button>
  </div>

		<footer class="navbar-default navbar-bottom">
			<div class="container">
				<br>

				<p class="text-center">
					Copyright 2016 All Data From <a href="http://www.last.fm" target="_blank"> Last.fm</a>
				</p>
			</div>
		</footer>
	</div>




</body>
<script src="./jquery/jquery.js">
  </script>
</html>
